# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Onedrive PENS\OneDrive - it.student.pens.ac.id\Kuliah\Semester 3\Pemrograman Berbasis Obyek\Tugas Akhir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
